{% extends "base.html" %}

{% block cuerpo %}
{% load static %}
    <div class="row"> <!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- columna izquierda -->
    <h1> EDITAR </h1>
    <div class="card"> <!-- la tarjeta -->
        <div class="card-body">
        <form action="registrarFactura/" method= "POST"> {% csrf_token %} <!-- falta action -->
            <div class="form-group py-2">
            <input type="text" id="skzid_factura" name="skzid_factura" class="form-control" placeholder="id Factura" minlenght="1" maxlenght="6" required>
            </div>
            <div class="form-group py-2">
            <input type="text" id="skzid_paciente" name="skzid_paciente" class="form-control" placeholder="id Paciente" minlenght="1" maxlenght="6" required>
            </div>
            <div class="form-group py-2">
            <input type="text" id="skznombre" name="skznombre" class="form-control" placeholder="Nombre Paciente" maxlenght="100" required>
            </div>
            <div class="form-group py-2">
           <input type="text" id="skztel" name="skztel" class="form-control" placeholder="Telefono Paciente" minlenght="1" maxlenght="15" required>
            </div> 
            <div class="form-group py-2">
            <input type="text" id="skzcorreo" name="skzcorreo" class="form-control" placeholder="Correo Paciente" minlenght="1" maxlenght="30" required>
            </div>
            <div class="form-group py-2">
            <input type="text" id="skzdireccion" name="skzdireccion" class="form-control" placeholder="Direccion Paciente" required>
            </div>
            <div class="form-group py-2">
            <input type="text" id="skzservicio" name="skzservicio" class="form-control" placeholder="Servicio Paciente" minlenght="1" maxlenght="30" required>
            </div>
            <div class="form-group py-2">
            <input type="number" id="skzcosto" name="skzcosto" class="form-control" placeholder="Costo Total " maxlenght="7" required>
            </div>
            <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>

        </form>
    </div>
    </div> <!-- la tarjeta -->
    </div> <!-- columna izquierda -->

    <!-- la fila --> 
    
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 "> <!-- columna derecha -->
        <h1> Lista de Factura </h1>
        <img class="w-50" src="{% static 'img/factura.jpg' %}" alt="alondra" width="100" height="200">
        <br> 
        <br>
        <!-- tablaaa-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id_factura</th>
                <th scope="col">id_paciente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo </th>
                <th scope="col">Direccion</th>
                <th scope="col">Servicio</th>
                <th scope="col">Costo</th>
                <th> Opciones </th>
            </tr>
            </thead>
            <tbody>
        {% for m in mifactura %}
        <tr> 
            <td> 
                {{forloop.counter}}
            </td> 
            <td> {{m.id_factura}} </td>
            <td> {{m.id_paciente}} </td>
            <td> {{m.nombre}} </td>
            <td> {{m.telefono}} </td>
            <td> {{m.correo}} </td>
            <td> {{m.direccion}} </td>
            <td> {{m.servicio}} </td>
            <td> {{m.costo}} </td>
            <td> <a href="seleccionarFactura/{{m.id_factura}}" class="btn btn-info">Editar</a></td> 
            <td> <a href="borrarFactura/{{m.id_factura}}" class="btn btn-danger">Borrar</a></td> 
        </tr>

        {% endfor %}
            </tbody>
        </table>
        <!-- tablaaa-->
    <div > <!-- columna derecha--> 
    </div>   
{% endblock %}